html {
  font-size: 12px;
  background-color: #242628;
  color: white;
}

body {
  background-color: #242628;
  color: white;
}

.table {
  color: white;
}

main {
  width: 100%;
  max-width: 640px;
  float: right;
}